<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOME | DAL Assessments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style='background-size: cover; background-image: url("/background.png");  background-repeat: no-repeat; background-position: center; background-attachment: fixed;'>
    <center><br><br><br>
      <br><br><div style='background-color: white; height: 110vw; width: 300px; border-radius: 20px; opacity: 0.7'>
      </div><br>
      <div style='width:100%; position: fixed; background-color: black; padding: 10px; top: 0px; left:0px; opacity: 0.7'>
        <a style='color: white; font-size: 40px; left: 47%; text-decoration: none' href='/'>DAL Assessments</a>
      </div>
    </center>
  </body>
</html>
