<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{data['test_name']}} | DAL Assessments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/jquery.min.js" ></script>
    <script>
    function exit_test(){
      var r = confirm("Exiting this test will remove all session data related to this test.");
      if (r){window.location.href = "/t/{{code}}?exit";}}
    </script>
  </head>
  <body style='background-size: cover; background-image: url("/background.png");  background-repeat: no-repeat; background-position: center; background-attachment: fixed;'>
    <style>
    body {
      overflow: hidden;
    }
    #preloader {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      z-index: 99;
    }
    #status {
      width: 200px;
      height: 200px;
      position: absolute;
      left: 50%;
      top: 50%;
      background-image: url(/loading.gif);
      background-repeat: no-repeat;
      background-position: center;
      margin: -100px 0 0 -100px;
    }
    </style>
    <script>
    $(window).on('load', function() { // makes sure the whole site is loaded
      $('#status').fadeOut(); // will first fade out the loading animation
      {%if image_url%}
        $('#preloader').delay(100).fadeOut('slow'); // will fade out the white DIV that covers the website.
        $('body').delay(1000).css({'overflow':'visible'});
      {%else%}
        $('#preloader').delay(100).fadeOut('slow'); // will fade out the white DIV that covers the website.
        $('body').delay(725).css({'overflow':'visible'});
      {%endif%}
    })
    </script>
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <center>
    <br><br><br><br><br><div style='background-color: white; height: {%if image_url%}{{total_height-150}}{%else%}{{total_height-300}}{%endif%}px; width: 320px; border-radius: 20px; opacity: 1'>
      <form method='POST' action='/t/{{code}}/verify'>
      <input type='submit' value='Next' style='position: relative; top: 5px; width: 100px; height: 40px; font-size: 23px; left: 120px; border-radius: 10px'>
      <input type='button' onclick='exit_test();' value='Exit' style='position: relative; left: -170px; top: 0px; width: 50px; height: 25px; font-size: 15px; border-radius: 10px'>
      <div style='text-align: left; position: relative; left: 30px; top: 10px'>
      <text style='font-size: 22px'>{{q_number}}: {%for chunk in question_data['question']%}{{chunk}}<br>{%endfor%}</text><br>
          {%for i in ans_range%}
            <div style='padding-bottom: 7px'>
              <input type="radio" id="a{{i}}" name="answer" value="{{i}}" required><label for="a{{i}}" style='font-size: 20px'>{{question_data['answers'][i]}}</label><br>
            </div>
          {%endfor%}
        {%if image_url%}
          <br><img src='{{image_url}}' width='275px'>
        {%endif%}
        </form>
      </div>
  </div>
    <div style='width: 100%; position: fixed; background-color: black; padding: 10px; top: 0px; left:0px; opacity: 0.7'>
      <a style='color: white; font-size: 30px; left: 47%; text-decoration: none' href='#'>DAL Assessments</a>
    </div>
  </center>
  </body>
</html>
