<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HTTP 404 | DAL Assessments</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style='background-size: cover; background-image: url("/background.png");  background-repeat: no-repeat; background-position: center; background-attachment: fixed;'>
    <h1>HTTP 404 ERROR</h1>
    <p>This part of the website does not exist.</p>
    <a href="/">Click here to return to HOME</a>
  </body>
</html>
