<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HTTP 500 | DAL Assessments</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <center>
      <br><br><div style='background-color: white; height: 600px; width: 900px; border-radius: 20px; opacity: 1'>
      <br><br><br><br><br><br><br><br><br><br>
      <body style='background-size: cover; background-image: url("/background.png");  background-repeat: no-repeat; background-position: center; background-attachment: fixed;'>
    <h1>HTTP 500 ERROR</h1>
    <p>The server encountered an error while processing your request.</p>
    <p>Try clearing your session cookies.</p>
    <input type='button' name="500 BT2" value='Click here to go to home page' onclick="window.location.href='/';">
</div><br>
</div>
<style>
  input[name="500 BT2"] {
border: 1px solid #f44c0e;
padding: 15px 30px;
font-size: 20px;
text-align: center;
cursor: pointer;
outline: none;
color: #fff;
background-color: #4CAF50;
border: none;
border-radius: 15px;
box-shadow: 0 9px #999;
}
input[type=submit]:hover {background-color: #3e8e41}
input[type=submit]:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}
</style>

  </body>
</html>
