<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HTTP 500 | DAL Assessments</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>HTTP 500 ERROR</h1>
    <p>The server encountered an error while processing your request.</p>
    <p>Try clearing your session cookies.</p>
    <a href="/clear_test_cookies">Click here to clear session cookies and try again</a><br>
    <a href="/">Click here to return to HOME</a>
  </body>
</html>
