<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="901009864862-aaecugd6kdpdgfj56gemtjnh8b3emqe9.apps.googleusercontent.com">
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>DAL Assessments</h4>
        <ul style='padding: 0px;'>
          <li><a href="/about" target="_blank">About</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Quick Links</h4>
        <ul style='padding-left: 0rem'>
          <li><a href="/">Home</a></li>
          <li><a href="/settings">Settings</a></li>
          <li><a onclick='logout();' style='cursor: pointer; color: #bbbbbb;'>Logout</a></li>
        </ul>
      </div><div class="footer-col">
        <h4>Contact Us</h4>
        <div class="social-links">
          <a title="Telegram" target="_blank" href="https://t.me/DAL_Assessments_Chat"><img alt="Telegram" width="30" height="30" src="/600px-Telegram_logo.svg.webp"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<style>
.footer {
  background-color: #24262b;
  padding: 70px 0;
  clear: both;
  position: relative;
  height: 300px;
  margin-top: 180px;
}
*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
}
ul {
  list-style: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col{
  width: 25%;
  padding: 0 62px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffa500;
  height: 2px;
  box-sizing: border-box;
  width: 100px;
}
.footer-col ul li:bot(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;  text-align: center;
  line-height: 40px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;&display=swap');
body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
</style>
<script>
  function logout(){
    var r = confirm("Are you sure you want to logout?");
      if (r == true) {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          window.location.href = '/logout' ;
        });
     }
   }
</script>
<div hidden='true' class="g-signin2"></div>
