<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOME | DAL Assessments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" ></script>
  </head>
  <body style='background-size: cover; background-image: url("/background.png");  background-repeat: no-repeat; background-position: center; background-attachment: fixed;'>
    <style>
    body {
      overflow: hidden;
    }
    #preloader {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      z-index: 99;
    }
    #status {
      width: 200px;
      height: 200px;
      position: absolute;
      left: 50%;
      top: 50%;
      background-image: url(/loading.gif);
      background-repeat: no-repeat;
      background-position: center;
      margin: -100px 0 0 -100px;
    }
    </style>
    <script>
    $(window).on('load', function() { // makes sure the whole site is loaded
      $('#status').fadeOut(); // will first fade out the loading animation
      {%if image_url%}
        $('#preloader').delay(100).fadeOut('slow'); // will fade out the white DIV that covers the website.
        $('body').delay(1000).css({'overflow':'visible'});
      {%else%}
        $('#preloader').delay(100).fadeOut('slow'); // will fade out the white DIV that covers the website.
        $('body').delay(725).css({'overflow':'visible'});
      {%endif%}
    })
    </script>
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <center><br><br><br>
      <h1 style='color: white; position: fixed; left: 2%; bottom: 4%'>Hello {{name}}</h1>
      <h4 style='color: white; position: fixed; left: 2%; bottom: 1.5%'>Logged in as {{username}}</h3>
      <br><br><div style='background-color: white; height: 600px; width: 900px; border-radius: 20px; opacity: 0.7'>
      </div><br>
      <div style='width:100%; position: fixed; background-color: black; padding: 10px; top: 0px; left:0px; opacity: 0.7'>
        <a style='color: white; font-size: 40px; left: 47%; text-decoration: none' href='/'>DAL Assessments</a>
      </div>
    </center>
  </body>
</html>
