<meta name="description" content="Conduct assessments for students that helps them learn conveniently. Design them for large-scale with our flexible tools.">
<meta itemprop="description" content="Conduct assessments for students that helps them learn conveniently. Design them for large-scale with our flexible tools.">
<meta property="og:description" content="Conduct assessments for students that helps them learn conveniently. Design them for large-scale with our flexible tools.">

<meta itemprop="name" content="DAL Assessments">
<meta property="og:title" content="DAL Assessments">
<meta name="twitter:title" content="DAL Assessments">

<meta itemprop="image" content="{{url_root()}}logo.png">
<meta property="og:image" content="{{url_root()}}logo.png">
<meta name="twitter:image" content="{{url_root()}}logo.png">
