<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}} | DAL Assessments</title>
  </head>
  <body style='background-size: cover; background-image: url("/background.png");  background-repeat: no-repeat; background-position: center; background-attachment: fixed;'>
    <center>
    <br><br><br><br><br><div style='background-color: white; height: 800px; width: 900px; border-radius: 20px; opacity: 0.9'>
      <br><br>
      <text style='font-size: 40px; font-weight: bold'>Edit Test</text><br><br>
      <input type="button" onclick="window.open('https://docs.google.com/spreadsheets/d/{{sheet_id}}')" value='Open Google Sheet'><input type="text" readonly value='https://docs.google.com/spreadsheets/d/{{sheet_id}}' style='border: 2px black solid; border-radius 10px; width: 400px'><input type="button" onclick="window.location.href = '?sync'" value='Sync with Google Sheets'><br><br>
      <form action="/t/{{code}}/edit/" method="post" id='main_form'>
        <textarea name="test_data" rows="20" cols="80" style='border: 3px black solid; border-radius: 10px; resize: none;' form='main_form' required>{{test_data}}</textarea><br>
        <input type="submit" value='Validate and Save'>
      </form><br><br>
  </div><br><br>
  <div style='width: 100%; position: fixed; background-color: black; padding: 10px; top: 0px; left:0px; opacity: 1'>
    <a style='color: white; font-size: 40px; left: 47%; text-decoration: none' href='/'>DAL Assessments</a>
    <text style='color: white; position: absolute; right: 50px; top: 10px; font-size: 20px'>Hello {{name}}</text>
    <text style='color: white; position: absolute; right: 50px; top: 35px'>Logged in as {{username}}</text>
  </div>
</center>
{%if alert%}
<script> alert("{{alert}}")</script>
{%endif%}
  </body>
</html>
