<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{test_name}} | DAL Assessments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
    window.setTimeout(function () {
      window.location.reload();
    }, 5000);
    </script>
  </head>
  <body style='background-size: cover; background-image: url("/background.png");  background-repeat: no-repeat; background-position: center; background-attachment: fixed;overflow:visible'>
    <center><br><br><br>
        <br><br>
        <div style='background-color: white; border-radius: 20px; opacity: 1; height: auto; max-width: 1400px; min-height: 350px'>
          <br><br>
            <text style='font-size: 45px; font-weight: bold'>Responses</text><br>
            {%if response_count == 0%}<br><br><text style='font-size: 50px; font-weight: bold; color: lightgray'>No responses yet...</text><br><br>{%else%}
            <text style='font-size: 35px; font-weight: bold'>Test: {{test_name}}</text><br><br>
            <button type="button" style="margin-bottom: 10px;" id="exampleModalButton" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Spreadsheet</button><br><input type="text" id="searchInput" onkeyup="searchfunc()" placeholder="Search for names.." title="Type in a name" onfocus="this.value = this.value;" style='width: 30%' class="search">
            <style>
              .search {
                border: 2px solid #2980b9;
                padding: 0px 10px;
                border-radius: 0px;
                font-size: 18px;
                font-family: "Nunito";
                color: #424242;
                font-weight: 500;
              }
            </style>
            <br>
            <br>
            <div style='margin-left: 75px'>
              <table class='table sortable' id='myTable'>
                <thead>
                  <tr>
                    <th data-toggle="tooltip" title="Rank based on submission of the user's first attempt" style="cursor: pointer" scope='col' onclick='sortTable(0, false)'>#</th>
                    <th data-toggle="tooltip" title="Username of attendee" style="cursor: pointer" scope='col' onclick='sortTable(1, false)'>Username</th>
                    <th data-toggle="tooltip" title="Name of attendee" style="cursor: pointer" scope='col' onclick='sortTable(2, false)'>Name</th>
                    <th data-toggle="tooltip" title="Total score, based on difficulty of question answered" style="cursor: pointer" scope='col' onclick='sortTable(3, false)'>Score</th>
                    <th data-toggle="tooltip" title="Average time spent answering for each question" scope='col'>Average Time</th>
                    <th data-toggle="tooltip" title="Total time spent to complete test on their latest attempt" scope='col'>Total Time</th>
                    <th data-toggle="tooltip" title="Time stamp of the submission of the user's latest attempt" scope='col'>Time Stamp</th>
                    <th data-toggle="tooltip" title="Correct answers of total questions by difficulty - easy, medium, hard" scope='col'>Total Scores by Difficulty</th>
                    <th data-toggle="tooltip" title="Percentage of correct answers by total questions by difficulty - easy, medium, hard" scope='col'>Total Percentage by Difficulty</th>
                  </tr>
                </thead>
                <tbody>
                  {%for response in responses%}
                  <tr>
                    <td>{{response['index']}}.</td>
                    <td><a href="/t/{{code}}/analytics/{{response['username']}}">{{response['username']}}</a></td>
                    <td>{{response['name']}}</td>
                    <td>{{response['score']}}</td>
                    <td>{{response['average_time']}} secs</td>
                    <td>{{response['total_time']}} secs</td>
                    <td data-toggle="tooltip" title="{{response['long_time_stamp']}}">{{response['time_stamp']}}</td>
                    <td data-toggle="tooltip" title="Easy: {{response['difficulty_fraction'][0][0]}}/{{response['difficulty_fraction'][0][1]}}  |  Medium: {{response['difficulty_fraction'][1][0]}}/{{response['difficulty_fraction'][1][1]}}  |  Hard: {{response['difficulty_fraction'][2][0]}}/{{response['difficulty_fraction'][2][1]}}" >{{response['difficulty_fraction'][0][0]}}/{{response['difficulty_fraction'][0][1]}} | {{response['difficulty_fraction'][1][0]}}/{{response['difficulty_fraction'][1][1]}} | {{response['difficulty_fraction'][2][0]}}/{{response['difficulty_fraction'][2][1]}}</td>
                    <td data-toggle="tooltip" title="{%if response['difficulty_percentage'][0] != None%}{{response['difficulty_percentage'][0]}}% for easy{%else%}null{%endif%} | {%if response['difficulty_percentage'][1] != None%}{{response['difficulty_percentage'][1]}}% for medium{%else%}null{%endif%} | {%if response['difficulty_percentage'][2] != None%}{{response['difficulty_percentage'][2]}}% for hard{%else%}null{%endif%}" >{%if response['difficulty_percentage'][0] != None%}{{response['difficulty_percentage'][0]}}%{%else%}null{%endif%} | {%if response['difficulty_percentage'][1] != None%}{{response['difficulty_percentage'][1]}}%{%else%}null{%endif%} | {%if response['difficulty_percentage'][2] != None%}{{response['difficulty_percentage'][2]}}%{%else%}null{%endif%}</td>
                    {%if response.get('attempts') != None%}{%if response['attempts'] > 1%}<td><span class="badge badge-info">Attempts {{response['attempts']}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>{%endif%}{%endif%}&nbsp;
                  </tr>
                  {%endfor%}
                </tbody>
            </table>
            </div>
            {%endif%}<br><br>
        </div>
        <center>
          <div style='width: 100%; position: fixed; background-color: black; padding: 10px; top: 0px; left:0px; opacity: 1'>
            <span class="material-icons noselect" style='color: white; position:absolute; left: 15px; top: 23px; font-size: 30px; cursor: pointer' onclick='window.location.href = "/t/{{code}}/edit/editor/"'>arrow_back</span>
            <a style='color: white; font-size: 40px; left: 47%; text-decoration: none' href='/'>DAL Assessments</a>
            <text style='color: white; position: absolute; right: 50px; top: 10px; font-size: 20px'>Hello {{name}}</text>
            <text style='color: white; position: absolute; right: 50px; top: 35px'>Logged in as {{username}}</text>
          </div>
        </center>
    </center>
{% include "footer.html" %}
    <script>
input = document.getElementById("searchInput");
setTimeout(function(){ input.selectionStart = input.selectionEnd = 10000; }, 0);
document.getElementById("searchInput").value = localStorage.getItem("search_terms");
function searchfunc() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("searchInput");
  localStorage.setItem("search_terms", input.value);
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
searchfunc()
</script>
<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Generate Spreadsheet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-info" style='margin-bottom: 10px' onclick='get_sheet_id();'><span class="material-icons" style='position:relative; top: 5px;'>cloud_upload</span>&nbsp;Open Google Sheet</button><br>
        <button type="button" class="btn btn-info" style='margin-bottom: 10px' onclick='window.location.href = "/t/{{code}}/analytics_download/csv"'><span class="material-icons" style='position:relative; top: 5px;'>file_download</span>&nbsp;Download CSV</button><br>
        <script>
        function get_sheet_id(){
          var xhttp = new XMLHttpRequest();
          xhttp.open("GET", "/t/{{code}}/analytics_download/google_sheets", true);
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              window.open(this.responseText)
            }
          };
          xhttp.send();
          return "test";
        }
        </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
$(window).on('show.bs.modal', function() {
    localStorage.setItem("analytics-modal", "true");
});
$(window).on('hidden.bs.modal', function() {
    $('#exampleModal').modal('hide');
    localStorage.setItem("analytics-modal", "false");
});

function refresh_modal(){
  if (localStorage.getItem("analytics-modal") == "false" || localStorage.getItem("analytics-modal") == null){
    $('#exampleModal').modal('hide');
  } else{
    $('#exampleModal').modal('show');
  }
}
refresh_modal()
</script>
<script>
function sortTable(n, init) {
  var prev_column = localStorage.getItem("sort_column")
  localStorage.setItem("sort_column", n)
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = localStorage.getItem('direction');
  if (init == false){
    if (dir == "desc" || dir == undefined){
      dir = 'asc';
    } else{
      dir = 'desc';
    }
  }
  localStorage.setItem("direction", dir);
  if (n != 0){
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      // if (switchcount == 0 && dir == "asc") {
      //   dir = "desc";
      //   switching = true;
      // }
    }
  }
} else if (init == false){
    if (prev_column != 0){
      window.location.reload();
    } else{
      reverseTableRows("myTable");
    }
}
}
function reverseTableRows(tableId) {
    var table = document.getElementById(tableId),
        newTbody = document.createElement('tbody'),
        oldTbody = table.tBodies[0],
        rows = oldTbody.rows,
        i = rows.length - 1;

    while (i >= 0) {
        newTbody.appendChild(rows[i]);
        i -= 1;
    }
    oldTbody.parentNode.replaceChild(newTbody, oldTbody);
}
var sort_column = localStorage.getItem('sort_column');
if (sort_column != 0){
  sortTable(sort_column, true);
} else if (localStorage.getItem('direction') == 'desc'){
  reverseTableRows("myTable");
}
</script>
<style>
#snackbar {
visibility: hidden;
min-width: 250px;
background-color: #333;
color: #fff;
text-align: center;
border-radius: 2px;
padding: 16px;
position: fixed;
z-index: 1;
left: 35%;
bottom: 30px;
font-size: 17px;
}

#snackbar.show {
visibility: visible;
-webkit-animation: fadein 0.5s, fadeout 0.5s 6.5s;
animation: fadein 0.5s, fadeout 0.5s 6.5s;
}

@-webkit-keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}
</style>
<div id="snackbar">{{alert}}&nbsp;&nbsp;&nbsp;&nbsp;<img src='/close_icon.png' style='width: 20px; height: 20px; position:absolute; right: 10px; top: 16px; cursor:pointer;' onclick="hide_snackbar()"></div>
<script>
function show_snackbar() {
var x = document.getElementById("snackbar");
x.className = "show";
setTimeout(function(){ x.className = x.className.replace("show", ""); }, 7000);
}
function hide_snackbar() {
var x = document.getElementById("snackbar");
x.className = x.className.replace("show", "");

}
{%if alert != 'none'%}show_snackbar();{%endif%}
{%if open_redirect != 'none'%}window.open("{{open_redirect}}"); $('#exampleModal').modal('hide');{%endif%}
</script>
  </body>
</html>
